body{
  background: url(https://t1.daumcdn.net/cfile/blog/1470C3404F011B7829);
  height: 100vh;
  background-repeat: no-repeat ;
  background-size: cover;
}
.container{
  display: flex;
  justify-content:center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
.WeatherBox{
  width: 350px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border: 3px ;
  padding: 50px;
  border-radius: 30px;
  background-color: #e3effc57;
  font-family:'bitbit' ;
}
@font-face{
  font-family:'bitbit';
  src:url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff'),url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff2') ;
}
.button{
  font-family:'bitbit' ;
  width: 350px;
}
.btnCL{
  margin-right: 10px;
  margin-top: 10px;
}
.btnL{
  margin-right: 10px;
  margin-top: 10px;
}

